# 环境变量的示例文件

# 两个可选值：
# 1. fake 使用模拟模型
# 2. ark 使用真实模型
TEXT_MODEL_PROVIDER=

# 火山引擎里面申请的 api key
ARK_API_KEY=

# 文本模式
ARK_MODEL=

# 让模拟模型报错的方式
# 支持配置的值有：none、characters、scenes
FAKE_PLANNING_FAULT=none