"""{{class_name}}。"""

from server.schema import CreativeRequirement


class {{class_name}}:
    """{{class_name}}。"""

    def analyze_requirement(self, raw_requirement: str) -> CreativeRequirement:
        """把自然语言创意转换为经过校验的结构化需求。"""
        raise NotImplementedError
